{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>{{ object.title }}</h3>

            {% if object.img %}
                <img src="{{ course.img.url }}" alt="{{ course.title }}">
            {% else %}
            <img src="/pictures/default.png" alt="{{ course.title }}">
            {% endif %}
        </div>

        <div class="aside-course">
            <h3>Про курс</h3>
            <p>{{ object.description }}</p>
            {% if object.free == True %}
                <ul>
                {% for lesson in lessons %}
                    <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                {% if object.free == False and user.is_authenticated == False %}
                    <p>
                        <a href="{% url 'registration' %}">Зареєструйтесь</a> на сайті і купіть підписку, 
                        для перегляду цього курсу
                    </p>
                {% else %}
                    {% if user.profile.account_type == 'Повний пакет' %}
                    <ul>
                    {% for lesson in lessons %}
                        <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
                    </ul>   
                    {% else %}
                        <p>
                            Потрібно купити <a href="{% url 'tarrifs' %}">підписку</a> 
                            на сайті для перегляду цього курсу
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %} 