{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>{{ object.title }}</h3>
            <p>{{ object.description }}</p>

            {% if object.img %}
                <img src="{{ course.img.url }}" alt="{{ course.title }}">
            {% else %}
            <img src="/pictures/default.png" alt="{{ course.title }}">
            {% endif %}
        </div>

        <div class="aside-course">
            <h3>Про курс</h3>
            <p>{{ object.description }}</p>
        </div>
    </div>

{% endblock %} 