{% extends 'courses/main-layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Відновлення пароля
{% endblock %}

{% block main_section %}
    <div class="container">
        <h1>Відновлення пароля</h1>
        <!-- Вивід форми Django (Users.views.register.form) -->
        <form method="post" class="form-registration auth">
            <!-- csrf_token Захист від міжсайтової підробки запитів -->
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-danger" type="submit">Відновити пароль</button>
        </form>
    </div>

{% endblock %}